@model LMS.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Manage";
}


<br />

@{
    var courseId = Model.CourseId;
    var moduleId = Model.ModuleId;
    var activityId = Model.ActivityId;

}

<h1>Välkommen till din sida "elevnamn"</h1>

@Html.Action("Scheme", "Students", new { courseId = courseId, year = 2017, week = 32, moveWeek = 0 })


<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //First container to include input section and module information
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3">
                <!--menu-->
                <br />
                <h4>Kursmoduler för @Model.CourseName:</h4>

                @{
                    if (Model.CourseModules != null)
                    {
                        if (Model.CourseModules.Count != 0)
                        {
                            <table class="table">
                                @foreach (var module in Model.CourseModules)
                                {
                                <tr>
                                    <td>
                                        @{
                                            string moduleText = "";
                                            if (module.Id == moduleId)
                                            {
                                                moduleText = "=> " + @module.Name;
                                            }
                                            else
                                            {
                                                moduleText = "   " + @module.Name;
                                            }
                                        }
                                        @Html.ActionLink(moduleText, "MyPage", new { courseId = courseId, moduleId = module.Id, activityId = 0})
                                    </td>

                                </tr>
                                            }
                            </table>
                                                }
                                            }
                }
            </div><!--end menu-->
           
            <div class="form-horizontal col-md-7">
                <h2>Information om din kurs @Model.CourseName</h2>
                @{
                    if ((moduleId != 0) && (activityId == 0))
                    {
                        
                        <h4>Modulinformation för @Model.Module.Name</h4>
                        <p>Start: @Model.Module.StartDate</p>
                        <p>Slut: @Model.Module.EndDate</p>
                        <p>Beskrivning: @Model.Module.Description</p>
                    }
                    else
                    {
                        if (activityId != 0)
                        {
                            <h4>Aktivitetsinformation för @Model.Activity.Name</h4>
                            <p>Start: @Model.Activity.StartDate</p>
                            <p>Slut: @Model.Activity.EndDate</p>
                            <p>Typ: @Model.Activity.ActivityType</p>
                            <p>Beskrivning: @Model.Activity.Description</p>
                        }
                    }

                }

                @{
                    if (moduleId != 0)
                    {

                        <h4 class="page-header"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Aktiviteter</h4>

                        if (moduleId != 0 && Model.ModuleActivities != null)
                        {
                            foreach (var activity in Model.ModuleActivities)
                            {
                                <div class="col-md-12 col-sm-12" style="background-color:whitesmoke; border:1px solid lightgrey; margin: 5px; padding-top: 5px;">
                                    <p>
                                        @activity.StartDate &nbsp; <a href="@Url.Action("MyPage", "Students", new { courseId = courseId, moduleId = moduleId, activityId = activity.Id })">@activity.Name</a>
                                    </p>
                                    <p>@activity.Description</p>

                                </div>
                            }

                        }

                    }

                }



            </div>

            @*<div class="col-md-2">
                <br />
                <br />
                <br />
              @Html.Partial("_Documents")
            </div>*@


        </div>
    </div>

}
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

