@model LMS.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Manage";
    string[] activityType = new string[5] { "Föreläsning", "Datorbaserad", "Inlämningsuppgift", "Övningstillfälle", "reserv" };
    // Föreläsning / Datorbaserad / Inlämningsuppgift / Övningstillfälle / reserv
}


@{
    var courseId = Model.CourseId;
    var moduleId = Model.ModuleId;
    var activityId = Model.ActivityId;
    var studentId = Model.StudentId;

    var headBannerInfo = "Välkommen till din sida " + Model.StudentName;
}

@Html.Action("HeadBanner", "CommonLOs", new { origin = "StudentMyPage", infoText = headBannerInfo })


<div class="container">

    <div class="row">

        <div class="col-md-2">

            <b>Kursdetaljer</b>


            <ul class="nav nav-stacked">
                <li>@Html.ActionLink("Kursdeltagare", "ListStudents", "Students")</li>
                <li> <a data-toggle="modal" data-target="#exampleModalLong">Notiser (@Model.NoOfNotifications)</a></li>
            </ul>
            <br />
            <b>Kursmoduler</b>
            <ul class="nav nav-stacked">

                @{


                    if ((Model.CourseModules != null) && (Model.CourseModules.Count != 0))
                    {
                        foreach (var module in Model.CourseModules)
                        {

                            <li>
                                <a href="@Url.Action("MyPage", "Students", new { courseId = courseId, moduleId = module.Id, activityId = 0, studentId = studentId, schemeYear = Model.SchemeYear, schemeWeek = Model.SchemeWeek, fromMyPage = true })">@module.Name</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        <div class="col-md-10">
            <h4>Kursinformation @Model.CourseName</h4>
          

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Notiser (@Model.NoOfNotifications)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                @{
                                    @*<h4 class="page-header"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Notiser (@Model.NoOfNotifications)</h4>*@

                                if (Model.Notifications != null)
                                {
                                    foreach (var notification in Model.Notifications)
                                    {
                                        <div class="col-md-12 col-sm-12" style="background-color:whitesmoke; border:1px solid lightgrey; margin: 5px; padding-top: 5px;">
                                            <p>
                                                @notification.ChangeText &nbsp;
                                                <a href="@Url.Action("ReadNote", "Students", new { moduleId = moduleId, activityId = activityId, schemeYear = Model.SchemeYear, schemeWeek = Model.SchemeWeek, schemeMoveWeek = Model.SchemeMoveWeek, noteId = notification.Id })">Ok</a>
                                            </p>
                                        </div>
                                    }
                                }
                                if (Model.NoOfNotifications == 0)
                                {
                                    <p>Du har inga aktuella notiser för närvarande</p>
                                    }
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary notesModalButton" data-dismiss="modal">Stäng</button>
                            <button type="button" class="btn btn-secondary notesModalButton">
                                @Html.ActionLink("Ok alla", "ReadAllNotes", "Students", new { moduleId = moduleId, activityId = activityId, schemeYear = Model.SchemeYear, schemeWeek = Model.SchemeWeek, schemeMoveWeek = Model.SchemeMoveWeek }, null)
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            @Html.Action("Scheme", "Students", new { courseId = courseId, year = Model.SchemeYear, week = Model.SchemeWeek, moveWeek = Model.SchemeMoveWeek, myPageModuleId = Model.ModuleId, myPageActivityId = Model.ActivityId, myPageStudentId = Model.StudentId })


            <div>

                @{
                    if ((moduleId != 0) && (activityId == 0))
                    {
                        <div class="well">
                            <h4>Modulinformation @Model.Module.Name</h4>

                            <p>
                                Startdatum: @Model.Module.StartDate.ToShortDateString()
                                Slutdatum: @Model.Module.EndDate.ToShortDateString()
                            </p>
                            <p> @Model.Module.Description</p>
                        </div>
                    }
                    else
                    {

                        if (activityId != 0)
                        {
                            <div class="well">
                                <h4>Aktivitetsinformation @Model.Activity.Name</h4>

                                <p>
                                    Start: @Model.Activity.StartDate.ToShortDateString() @Model.Activity.StartDate.TimeOfDay
                                    Slut: @Model.Activity.EndDate.ToShortDateString() @Model.Activity.EndDate.TimeOfDay
                                </p>
                                <p>Aktivitetstyp: @activityType[(int)Model.Activity.ActivityType]</p>
                                <p>Aktivitetsbeskrivning: @Model.Activity.Description</p>
                            </div>
                        }
                        else
                        {
                            <div>
                                <h4>&nbsp;</h4>
                            </div>
                        }

                    }
                }
            </div>
            <div>
                @{
                    if (moduleId != 0)
                    {
                        <h4 class="page-header"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Aktiviteter i modulen @Model.Module.Name</h4>

                        if ((Model.ModuleActivities != null) && (Model.ModuleActivities.Count != 0))
                        {
                            foreach (var activity in Model.ModuleActivities)
                            {
                                <p>
                                    <a href="@Url.Action("MyPage", "Students", new { courseId = courseId, moduleId = moduleId, activityId = activity.Id, studentId = studentId, schemeYear = Model.SchemeYear, schemeWeek = Model.SchemeWeek, fromMyPage = true })"><b>@activity.Name</b></a>
                                </p>
                                <p>
                                  
                                    Startdatum: @activity.StartDate.ToShortDateString() @activity.StartDate.TimeOfDay
                                    <br />

                                    Aktivitetsbeskrivning: @activity.Description
                                </p>

                                <hr />
                                }
                                }
                                }
                                }
                            </div>

                        </div>


                    </div>






                </div>




                @*@Html.Action("FootBanner", "CommonLOs", new { origin = "StudentMyPage", infoText = "" })*@

                                @section Scripts {
                                    @Scripts.Render("~/bundles/jqueryval")
                                }

