@model LMS.ViewModels.SchemeViewModel

@{
    ViewBag.Title = "Schema";
    var i = 0;
    DateTime datum0 = new DateTime(2017, 8, 7);
    DateTime datum;
    string sDatum;
    string veckodag;
}

<br />
@*@{
        foreach(var note in Model.Notifications)
        {
            <p>@note.ChangeText</p>
        }
    }*@


@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()




    <div class="container-fluid">

        <p><span class="MyPageTitle">@ViewBag.Title</span><span class="MyPageTitleWeek"> vecka:<b>@Model.Week</b></span></p>
        @*<b>@Model.Year</b>*@

        @*<br />
            <br />
            <i>@Model.Period</i>
            <br />
            <br />
            <br />
            <br />*@
        <div class="row scheduleHeaderRow" style="background-color:white">


            <div class="row">
                @*if(Model.Week!=DateTime.Now.week){*@
                <div style="text-align:center">

                    @*<a class="btn" href="@Url.Action("MyPage", "Mypage", new {  courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 0 })"> <span class="glyphicon glyphiconsm glyphicon glyphicon-home" aria-hidden="true" style="border:0;"></span><br />Aktuell vecka</a>*@

                    @*@Html.ActionLink(moduleText, "MyPage", new { courseId = courseId, moduleId = module.Id, activityId = 0 })
                        public ActionResult Scheme(int? courseId, int? year, int? week, int? moveWeek)*@


                    <p>
                        @Html.ActionLink(">>> Denna vecka <<<", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 0 })&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("||| Valfri  vecka |||", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 0 })
                    </p>
                    <br />
                </div>
                @*}*@

            </div>





            <div class="col-sm-1" style="">
                <a class="btn" href="@Url.Action("Scheme", "Students", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = -1 })"> <span class="glyphicon glyphicon-resize-small glyphicon-circle-arrow-left" aria-hidden="true" style="border:0; height:0.5%"></span><br />V.@(Model.Week - 1)</a>

                @*@Html.ActionLink("MyPage", "MyPage", "Students", new { courseId = 3 }, null)*@


                @*@Html.ActionLink("<<<", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = -1 })*@
            </div>
            @{
                for(i = 0; i < 5; i++) {
                    datum = Model.Monday.AddDays(i);
                    sDatum = datum.ToString("yyyy-MM-dd");
                    veckodag = datum.ToString("dddd");


                    <div class="col-sm-2" style="border:1px solid black; background-color:lightgray; min-height:100%; ">
                        <p><b>@sDatum</b></p>
                        <p>@veckodag</p>
                        @*<p><small>08.30-12.00</small></p>*@
                    </div>
                }
                i = 0;
            }


            <div class="col-sm-1">
                @*<span class="glyphicon glyphiconsm glyphicon-circle-arrow-right" aria-hidden="true"></span>*@
                <a class="btn" href="@Url.Action("Scheme", "Students", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 1 })"> <span class="glyphicon glyphicon-resize-small glyphicon-circle-arrow-right" aria-hidden="true"></span><br />V.@(Model.Week + 1)</a>

                @*<a class="btn" href="@Url.Action("MyPage", "Mypage", new {  courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 0 })"> <span class="glyphicon glyphiconsm glyphicon-circle-arrow-right" aria-hidden="true" style="border:0;"></span><br />V.@(Model.Week + 1)</a>*@

                @*@Html.ActionLink(">>>", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 1 })*@

            </div>

        </div>

        <div class="row" style="background-color:white;">
            @*content fm*@

            @foreach(var weekActivitiy in Model.WeekActivities) {
                    string s = "white";

                    switch(weekActivitiy.ActivityType) {
                        case 0: s = "lightgreen"; break;
                        case 1: s = "crimson"; break;
                        case 2: s = "red"; break;
                        case 3: s = "yellow"; break;
                        case 4: s = "blue"; break;

                        default: break;
                    }

                    i++;

                    if(i == 1) {

                    <div class="col-sm-1" style="background-color:white;"><p style="font-size:x-small;">08.30-12.00</div>
                }


                if(i <= 5) {
                    @Html.Raw("<div class=\"col-sm-2\" style=\"display:block; background-color:" + s + "\" >")

                    <p>@weekActivitiy.NameText</p>
                    <p>@weekActivitiy.TypeText</p>

                    if(!weekActivitiy.ModuleNameText.IsEmpty()) {
                        @Html.Raw("<p>[" + weekActivitiy.ModuleNameText + "]</p>")
                    }

                    @Html.Raw("</div>")
                }
                <
                if(i == 5) {
                <div class="col-sm-1" style="background-color:white">&nbsp;</div>
            }
            }
        </div>
        <div class="row scheduleHeaderRow" style="background-color:white;">
            @{
                for(i = 0; i < 5; i++) {
                    if(i == 0) {
                        <div class="col-sm-1" style="background-color:white"><p style="font-size:x-small;">12.00-13.00</div>
                    }

                    <div class="col-sm-2" style="border:1px solid black; background-color:lightgray;">
                        <p>Lunch</p>

                    </div>

                    if(i == 4) {
                        <div class="col-sm-1" style="background-color:white">&nbsp;</div>
                    }
                }
            }

        </div> @*lunch*@

        <div class="row" style="background-color:white; display: flex;">
            @{
                i = 0;
            }

            @foreach(var weekActivitiy in Model.WeekActivities) {
                    string s = "white";

                    switch(weekActivitiy.ActivityType) {
                        case 0: s = "lightgreen"; break;
                        case 1: s = "crimson"; break;
                        case 2: s = "red"; break;
                        case 3: s = "yellow"; break;
                        case 4: s = "blue"; break;

                        default: break;
                    }
                    i++;

                    if(i == 6) {
                    <div class="col-sm-1" style="background-color:white; vertical-align: middle;">
                        <p style="font-size:x-small;     align-self: center;  ">13.00-17.00</p>
                    </div>
                }

                if(i > 5) {
                    @Html.Raw("<div class=\"col-sm-2\" style=\"background-color:" + s + "\" >")

                    <p>@weekActivitiy.NameText</p>
                    <p>@weekActivitiy.TypeText</p>
                    if(!weekActivitiy.ModuleNameText.IsEmpty()) {
                        @Html.Raw("<p>[" + weekActivitiy.ModuleNameText + "]</p>")
                    }

                    @Html.Raw("</div>")
                }

                if(i == 10) {
                    <div class="col-sm-1" style="background-color:white">&nbsp; </div>
                }
            }
        </div> @*em*@
    </div>
                }
<br />
<br />



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}