@model LMS.ViewModels.SchemeViewModel

@{
    ViewBag.Title = "Veckoschema";
}


@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "shemeDiv"
    })){

    <input type="search" value="test" />
    <input type="submit" value="dodatest" />
}
    @*@Html.ActionLink(">>>", "ShemePartial", new { courseId = 1, year = Model.Year, week = Model.Week, moveWeek = 1 })*@


    <div class="container">

        <h2>@ViewBag.Title</h2>
        @Model.Year
        @Model.Week
        <br />
        <br />
        @Model.Period

        <br />
        <br />
        <br />
        <br />

<div id="shemeDiv">

    @Html.Partial("_Scheme",Model)

</div>




    </div>
                   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

