@model LMS.ViewModels.SchemeViewModel

@{
    ViewBag.Title = "Veckoschema";
    var i = 0;
    DateTime datum0 = new DateTime(2017, 8, 7);
    DateTime datum;
    string sDatum;
    string veckodag;
}

<br />

@*@{ 
    foreach(var note in Model.Notifications)
    {
        <p>@note.ChangeText</p>
    }
}*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <h2>@ViewBag.Title</h2>
        @Model.Year
        @Model.Week
        <br />
        <br />
        @Model.Period

        <br />
        <br />
        <br />
        <br />
        <div class="row">


            <div class="col-sm-1" style="background-color:ghostwhite">

                @Html.ActionLink("<<<", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = -1 })

            </div>

            @{
                for (i = 0; i < 5; i++)
                {
                    datum = Model.Monday.AddDays(i);
                    sDatum = datum.ToString("yyyy-MM-dd");
                    veckodag = datum.ToString("dddd");


                    <div class="col-sm-2 col-md-2" style="background-color:lightyellow">

                        <p>@sDatum</p>
                        <p>@veckodag</p>

                    </div>
                }
                i = 0;
            }

            <div class="col-sm-1" style="background-color:ghostwhite">

                @Html.ActionLink(">>>", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 1 })

            </div>
        </div>

        <div class="row">

        @foreach (var weekActivitiy in Model.WeekActivities)
        {
            i++;
            
            if (i == 1 || i == 6)
            {
                <div class="col-sm-1" style="color:white; background-color:black; border-color:blue">

                    <p>vänster</p>
                    <br />
                    <br />
                </div>
            }
            string s = "white";
            switch (weekActivitiy.ActivityType)
            {
                case 0: s = "lightgreen"; break;
                case 1: s = "crimson"; break;
                case 2: s = "red"; break;
                case 3: s = "yellow"; break;
                case 4: s = "blue"; break;
                
                default: break;
            }

            @*<div style="border-color:blue"*@

            @Html.Raw("<div class=\"col-sm-2\" style=\"background-color:" + s + "\" >")

            @weekActivitiy.NameText
            <br />
            @weekActivitiy.ModuleNameText
            <br />

                @weekActivitiy.TypeText

                @Html.Raw("</div>")

            
            if (i == 5 || i == 10)
            {
                <div class="col-sm-1" style="background-color:floralwhite">

                    <p>höger</p>
                    <br />
                    <br />
                </div>

            }
            
        }

        <br />
        <br />
        @Html.ActionLink(">>> Denna vecka <<<", "Scheme", new { courseId = Model.courseId, year = Model.Year, week = Model.Week, moveWeek = 0 })

    </div>
    </div>
                }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

