@model LMS.ViewModels.CourseViewModel
@{
    var courseId = Model.Id;
}


@{
    if (courseId != 0)
    {
        <h4 class="page-header">Dokument (0)</h4> @*(@Model.CourseModules.Count)*@
        <span>
                
            @{
                <a class="btn btn-sm greenButton" href="@Url.Action("Manage", "Modules", new { id = 0, courseId = Model.Id, getOperation = "New", viewMessage = "" })">+</a>
            }
        </span>
        

                    @*if (courseId != 0 && Model.CourseModules != null)
                    {
                        foreach (var module in Model.CourseModules)
                        {
                            <div class="col-md-12 col-sm-12" style="background-color:whitesmoke; border:1px solid lightgrey; margin: 5px; padding-top: 5px;">
                                <p>
                                    @module.StartDate &nbsp; <a href="@Url.Action("Manage", "Modules", new { id = module.Id, courseId = courseId, getOperation = "Load", viewMessage = "" })">@module.Name</a>
                                </p>
                                <p>@module.Description</p>

                            </div>
                            }



                        }*@

                    }

}