<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

                <div class="navbar-brand" style="padding: 5px 10px">
                    
                    <img src="~/images/logo-lexicon-small.gif" style="width:50%;height:50%" /> 
                </div>

                <div class="navbar-header">


                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @if(User.IsInRole("Student"))
                    {
                        @Html.ActionLink("Min sida", "MyPage", "Students", new { schemeMoveWeek = 0, fromMyPage = false }, new { @class = "navbar-brand" })
                    }

    
                    @if(User.IsInRole("Teacher"))
                    {
                        @Html.ActionLink("LMS", "Index", "Courses", new { area = "" }, new { @class = "navbar-brand" })
                    }
                
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if(User.IsInRole("Teacher"))
                        {
                            <li>@Html.ActionLink("Kurser", "Index", "Courses")</li>
                            <li>@Html.ActionLink("Användare", "CreateUser", "AdminUsers")</li>
                        }
                    
                        @if(User.IsInRole("Teacher"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Användare<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                             
                                        <li>@Html.ActionLink("Lägg till ny elev", "CreateNewUser", "AdminUsers")</li>
                                        <li>@Html.ActionLink("Lista och sök elever", "ListStudents", "AdminUsers")</li>
                                        <li>@Html.ActionLink("Lägg till ny lärare", "CreateNewUser", "AdminUsers", new { userType = "Teacher" }, null)</li>
                                        <li>@Html.ActionLink("Lista och sök lärare", "ListTeachers", "AdminUsers")</li>
                                
                        
                                </ul>
                            </li>
                        }

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
    </div>

    

    @*<div class="container-fluid body-content" style="margin-left:-20px; margin-right:-20px">*@
    <div class="fl-page">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - An example LMS Application</p>
        </footer>*@
        @{Html.RenderAction("FootBanner", "CommonLOs"); }
   </div>


















        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
