@model LMS.ViewModels.ModuleDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

@{
    if (Model.DeleteType == "Single")
    {
        <h2>Remove module @Model.Name</h2>
        <h3>Are you sure you want to permanently remove this module?</h3>
    }
    if (Model.DeleteType == "All")
    {
        <h2>Remove all modules</h2>
        <h3>Are you sure you want to permanently remove all listed modules?</h3>
    }
}
<div>
@{
    if (Model.DeleteType == "Single")
    {
        <h4>Module details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        </dl>
    }
    if (Model.DeleteType == "All")
    {
        <h4>Concerned modules:</h4>
        <hr />
        foreach (var module in Model.CourseModules)
        {
            <p>@module.Name</p>
        }
    }
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <button type="submit" class="btn btn-default">CONFIRM</button>    
        <button class="btn btn-default">@Html.ActionLink("CANCEL", "Manage", "Modules", new { courseId = Model.CourseId, getOperation = "New" }, null)</button>
    </div>
}
</div>
