@model LMS.ViewModels.ModuleDeleteViewModel

@{
    ViewBag.Title = "Delete";
    var headBannerInfo = "Ta bort moduler för kursen ";
}

@Html.Action("HeadBanner", "CommonLOs", new { origin = "ModuleMgmnt", id1 = Model.CourseId, id2 = Model.Id, infoText = headBannerInfo })

<div class="container">
    @{
        if (Model.DeleteType == "Single")
        {
            <h2>Ta bort modulen @Model.Name</h2>
            <h3>Är du säker på att du vill ta bort den här modulen permanent?</h3>
        }
        if (Model.DeleteType == "All")
        {
            <h2>Ta bort alla moduler for aktuell kurs</h2>
            <h3>Är du säker på att du vill ta bort alla listade moduler permanent?</h3>
        }
    }
    <div>
        @{
            if (Model.DeleteType == "Single")
            {
                <h4>Moduldetaljer:</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                </dl>
            }
            if (Model.DeleteType == "All")
            {
                <h4>Modullista:</h4>
                <hr />
                foreach (var module in Model.CourseModules)
                {
                    <p>@module.Name</p>
                }
            }
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color col-md-offset-2">
                <br />
                <button type="submit" class="btn btn-default greenButton">Bekräfta</button>
                <button class="btn btn-default greenButton">@Html.ActionLink("Avbryt", "Manage", "Modules", new { id = Model.Id, courseId = Model.CourseId, getOperation = "LoadMini" }, null)</button>
            </div>
        }
    </div>
</div>