@model LMS.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Manage";
}

@{
    var courseId = Model.Id;
    var headBannerInfo = "Hantera kurser";

    var thisLoadOrder = "";
    if (Model.ShowModules)
    {
        if (Model.ShowDocuments)
        {
            thisLoadOrder = "Load";
        }
        else
        {
            thisLoadOrder = "LoadMod";
        }
    }
    else
    {
        if (Model.ShowDocuments)
        {
            thisLoadOrder = "LoadDoc";
        }
        else
        {
            thisLoadOrder = "LoadMini";
        }
    }

    string showModules = "'false'";
    if (Model.ShowModules)
    {
        showModules = "'true'";
    }

    string showDocuments = "'false'";
    if (Model.ShowDocuments)
    {
        showDocuments = "'true'";
    }
}

@Html.Action("HeadBanner", "CommonLOs", new { origin = "CourseMgmnt", id1 = Model.Id, infoText = headBannerInfo })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--menu-->
                <h4 class="page-header">Kurser</h4>
                @{
                    <a class="btn btn-sm greenButton btnFlip" href="@Url.Action("Index", "Courses")">v</a>
                    if (courseId != 0)
                    {
                        <a class="btn btn-sm greenButton alignCourseBtnXRight" href="@Url.Action("Manage", "Courses", new { id = 0, getOperation = "New", viewMessage = "" })">+</a>
                        <a class="btn btn-sm redButton alignCourseBtnXRight" href="@Url.Action("Delete", "Courses", new { id = courseId, deleteType = "Single" })">-</a>
                    }
                }

                <ul class="nav nav-pills nav-stacked">
                    @foreach (var course in Model.AllCourses)
                {
                    if (course.Id == Model.Id)
                    {
                            <li class="active">@Html.ActionLink(course.Name, "Manage", new { id = course.Id, getOperation = thisLoadOrder })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(course.Name, "Manage", new { id = course.Id, getOperation = "LoadMini" })</li>
                        }
                    }
                </ul>

            </div><!--end menu-->

            <div class="form-horizontal col-md-6">
                @{
                    if (courseId == 0)
                    {
                        <h4 class="page-header">Skapa ny kurs</h4>
                    }
                    else
                    {
                        <h4 class="page-header">Redigera kursen @Model.Name</h4>
                    }
                }

                @{
                    if (Model.PostMessage != "")
                    {
                        <h5 class="text-danger">@Model.PostMessage</h5>
                    }
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.PostNavigation)
                @Html.HiddenFor(model => model.PostOperation)
                @Html.HiddenFor(model => model.PostMessage)
                @Html.HiddenFor(model => model.ModuleId)
                @Html.HiddenFor(model => model.StartDate)
                @Html.HiddenFor(model => model.EndDate)
                @Html.HiddenFor(model => model.ShowModules)
                @Html.HiddenFor(model => model.ShowDocuments)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9" style="margin-left:20px;">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-9" style="margin-left:20px;">
                        @Html.TextAreaFor(model => model.Description, 6, 40, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="btn-toolbar col-md-offset-2">

                    <!-- icons-->
                    @{
                        if (courseId != 0)
                        {
                            @*<button type="submit" class="btn btn-default" onclick="PostConfig('Save', 'Update', @courseId, 0)" aria-label="Left Align">
                                    <span class="glyphicon glyphiconsm glyphicon-save" aria-hidden="true"></span><br />Updatera
                                </button>*@

                            <button type="submit" class="btn btn-sm saveButton" onclick="CoursePostConfig('Save', 'Update', @courseId, 0, @showModules, @showDocuments)" aria-label="Left Align">
                                Uppdatera
                            </button>

                        }
                        else
                        {
                            @*<button type="submit" class="btn btn-default" onclick="PostConfig('Save', 'New', @courseId, 0)" aria-label="Left Align">
                                    <span class="glyphicon glyphiconsm glyphicon-save" aria-hidden="true"></span><br />Spara
                                </button>*@

                            <button type="submit" class="btn btn-sm saveButton" onclick="CoursePostConfig('Save', 'New', @courseId, 0, @showModules, @showDocuments)" aria-label="Left Align">
                                Spara
                            </button>
                        }
                    }

                    <br />

                </div><!-- end icons-->

                <div>
                    @Html.Partial("_Modules")
                </div>

                <div>
                    @Html.Partial("_CourseDocuments")
                </div>
            </div>
        </div>
    </div>
                        }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

