@model LMS.ViewModels.DocumentViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-3">

                <br />
                <h4>Övriga dokument</h4>

                @{
                    if ((Model.SiblingDocuments != null) && (Model.SiblingDocuments.Count != 0))
                    {
                        <table class="table">
                            @foreach (var doc in Model.SiblingDocuments)
                            {
                                <tr>
                                    <td>
                                        @{
                                            string moduleText = @doc.Name;
                                            if (doc.Id == Model.Id)
                                                moduleText = "=> " + moduleText;
                                        }
                                        @Html.ActionLink(moduleText, "Manage", new { id = doc.Id })
                                    </td>

                                </tr>
                         }
                        </table>
                   }
                }
            </div>

            <div class="form-horizontal col-md-7">
                <h2>Hantera dokument</h2>

                <h4>@Model.LongCourseName</h4>

                @{
                    if (!(Model.Id > 0))
                    {
                        <h4 class="page-header"><span class="glyphicon glyphicon-edit col-md-push-3" aria-hidden="true"></span>&nbsp;Nytt dokument</h4>
                    }
                    else
                    {
                        <h4 class="page-header"><span class="glyphicon glyphicon-edit col-md-push-3" aria-hidden="true"></span>&nbsp;Redigera dokument</h4>
                    }
                }

                @{
                    if (Model.PostMessage != "")
                    {
                        <h5 class="text-danger">@Model.PostMessage</h5>
                    }
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.PostNavigation)
                @Html.HiddenFor(model => model.PostOperation)
                @Html.HiddenFor(model => model.PostMessage)
                @Html.HiddenFor(model => model.CourseId)
                @Html.HiddenFor(model => model.ModuleId)
                @Html.HiddenFor(model => model.ActivityId)
                @Html.HiddenFor(model => model.UserId)


                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3 " })
                    <div class="col-md-9">

                        @Html.TextAreaFor(model => model.Description, 6, 40, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DocumentType, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(model => model.DocumentType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DocumentType, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.UploadDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">

                        @Html.EditorFor(model => model.UploadDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UploadDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Format, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.ValidationMessageFor(model => model.Format, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div>
                    <br />
                </div>

                <div class="btn-toolbar">

                    <!-- icons-->
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphiconsm glyphicon-save" aria-hidden="true"></span><br />Spara
                    </button>
                    <a class="btn btn-default" href="@Url.Action("Manage", new { id = 0, activityId = Model.ActivityId, moduleId = Model.ModuleId, courseId = Model.CourseId})"> <span class="glyphicon glyphiconsm glyphicon-plus-sign" aria-hidden="true"></span><br />Nytt dokument</a>
                    @{
                        if (Model.Id > 0)
                        {
                            <a class="btn btn-default" href="@Url.Action("Delete", new { id = Model.Id })"> <span class="glyphicon glyphiconsm glyphicon-trash" aria-hidden="true"></span><br />Ta bort</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("Manage", new { id = 0, activityId = Model.ActivityId, moduleId = Model.ModuleId, courseId = Model.CourseId})"> <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span><br />Ångra</a>
                        }
                    }
                    @{
                        if (Model.ActivityId > 0)
                        {
                            <a class="btn btn-default" href="@Url.Action("Manage", "Activities", new { id = Model.ActivityId, moduleId = Model._ModuleId, courseId = Model._CourseId, getOperation = "Load"})"> <span class="glyphicon glyphiconsm glyphicon-circle-arrow-left" aria-hidden="true"></span><br />Tillbaka</a>
                        }
                        else if (Model.ModuleId > 0)
                        {
                            <a class="btn btn-default" href="@Url.Action("Manage", "Modules", new { id = Model.ModuleId, courseId = Model._CourseId, getOperation = "Load"})"> <span class="glyphicon glyphiconsm glyphicon-circle-arrow-left" aria-hidden="true"></span><br />Tillbaka</a>
                        }
                        else if (Model.CourseId > 0)
                        {
                            <a class="btn btn-default" href="@Url.Action("Manage", "Courses", new { id = Model.CourseId, getOperation = "Load"})"> <span class="glyphicon glyphiconsm glyphicon-circle-arrow-left" aria-hidden="true"></span><br />Tillbaka</a>
                        }
                    }
                    <br />

                </div><!-- end icons-->

                <div>


                </div>


            </div>

            <div class="col-md-2">
                <br />
                <br />
                <br />

            </div>


        </div>
    </div>
                        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

