@model LMS.ViewModels.HeadBannerViewModel

@{
    ViewBag.Title = "HeadBanner";

    //var topSection1 = "topSection1A";
    var topSection1 = "topSection1B";

    //var courseCatalogue = "KURSKATALOG";
    //var courseHandling = "KURSHANTERING";
    //var moduleHandling = "MODULHANTERING";
    //var activityHandling = "AKTIVITETSHANTERING";

    //var courseCatalogue = "Kurskatalog";
    //var courseHandling = "Kurshantering";
    //var moduleHandling = "Modulhantering";
    //var activityHandling = "Aktivitetshantering";

    var courseCatalogue = "Kurskatalog";
    var courseHandling = Model.LinkText0;
    var moduleHandling = Model.LinkText1;
    var activityHandling = Model.LinkText2;
    var documentHandling = "Documenthantering";

    var textColor = "redText";
    //var textColor = "greenText";

}

<div class="greyBackground headBanner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                @{
                    <ol class="breadcrumb">
                        @switch (Model.Origin)
                        {
                            case "CourseCatalogue":

                                <li class="headerBannerCurrentPage">
                                    @courseCatalogue
                                </li>

                                break;
                            case "CourseMgmnt":

                                <li>
                                    <a  href="@Url.Action("Index", "Courses")">@courseCatalogue</a>
                                </li>
                                <li class="headerBannerCurrentPage">@courseHandling</li>
                                break;

                            case "ModuleMgmnt":

                                <li>
                                    <a href="@Url.Action("Index", "Courses")">@courseCatalogue</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Manage", "Courses", new { Id = Model.Id1, getOperation = "LoadMini" }, null)">@courseHandling</a>
                                </li>
                                <li class="headerBannerCurrentPage">@moduleHandling</li>
                                break;

                            case "ActivityMgmnt":

                                <li>
                                    <a href="@Url.Action("Index", "Courses")">@courseCatalogue</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Manage", "Courses", new { Id = Model.Id1, getOperation = "LoadMini" }, null)">@courseHandling</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Manage", "Modules", new { Id = Model.Id2, courseId = Model.Id1, getOperation = "LoadMini" }, null)">@moduleHandling</a>
                                </li>
                                <li class="headerBannerCurrentPage">@activityHandling</li>

                                break;

                            case "DocumentMgmnt":

                                <li>
                                    <a href="@Url.Action("Index", "Courses")">@courseCatalogue</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Manage", "Courses", new { Id = Model.Id1, getOperation = "LoadMini" }, null)">@courseHandling</a>
                                </li>

                                if (Model.Id2 != 0)
                                {
                                    <li class="headerBannerCurrentPage">
                                        <a href="@Url.Action("Manage", "Modules", new { Id = Model.Id2, courseId = Model.Id1, getOperation = "LoadMini" }, null)">@moduleHandling</a>
                                    </li>
                                }

                                if (Model.Id3 != 0)
                                {
                                    <li class="headerBannerCurrentPage">
                                        <a href="@Url.Action("Manage", "Activities", new { Id = Model.Id3, courseId = Model.Id1, moduleId = Model.Id2, getOperation = "LoadMini" }, null)">@activityHandling</a>
                                    </li>
                                }



                                break;

                            case "StudentMyPage":

                                <li class="headerBannerCurrentPage">
                                   &nbsp;
                                </li>
                                break;


                            case "StudentList":

                                <li><a href="@Url.Action("MyPage", "Students", new { schemeMoveWeek = 0, fromMyPage=false})">Min sida</a></li>
                                <li class="headerBannerCurrentPage">
                                    Kursdeltagare
                                </li>

                                break;

                            default:
                                break;
                        }
                    </ol>
                }

            </div>

        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
               
                <p><span style="font-size: 36px">@Model.InfoText</span></p>
                
               
            </div>
        </div>
    </div>

</div>
<br />